* {
  box-sizing: border-box;
}

body {
  padding:0;
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;

}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
/*img {
  max-height: 20rem;
}*/


/***************** NAV *****************/


.flex-container {

    /*display: -webkit-flex;*/
    display: flex;
    margin:auto;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    /*position: absolute;*/
}
nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


nav li {
  padding: 1rem;
  width: 24.8%;
  list-style: none;
  display: inline;
  font-weight: lighter;
  margin-left: 18rem;
}


@media (max-width: 680px)/*maintain the nav length after excending*/
{  nav ul
  {    flex-direction:column;
    }
    nav li
    {
      display: block;
      width: 100%;
      text-align: center;
      border-bottom: .1em solid black;
       }
     }


/*.flex-item {
  flex-direction: row;
    justify-content: space-between;
   display: inline;

    width: 13rem;
    height: 5rem;
    margin: 3rem;
    margin-left: 13rem;
    font-size: 3rem;
    padding-left: 1rem;
}*/



/**************** HERO *****************/
@media (min-width: 200px)
{

header img {
  max-height: 6rem;
  max-width: 7rem;
}
}

/*h1 .logo-w {
  font-size: 3.5rem;
  margin-top: 30rem;
  margin-left: 18rem;
}*/


/***************icon*******************/
/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

/*section {
  padding: 0 .75rem;
}*/

img {
  width: 65%;
  max-width:638px;
 }

.photo-container {
      width: 80%;
      margin: auto;
    /*  border: solid 1px rgba(189, 63, 191, 0.62);*/
}


    .photo-frame {
      /* equivalent to 49.5% of total browser width,
      to make calculating srcset easier for us :) */
      margin: auto;
      width: 55%;
    }

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

/*********************ROW INFORMATION**********************/

.row
{
    margin-top: 2rem;
    border:2px green solid;

}


div[class*="col-"] /*for mobile phone*/
{

    background-color: antiquewhite;
    padding: 3rem;
    height: 50rem;
    /*float: right;*/
}
/*background-repeat:no-repeat;
background-image:url("img_flowers.jpg");*/

/*@media only screen and (min-width:400px){
  body{
    background-color: red;
   background-image: url("images/multi-color.jpg");
  }
}*/
@media(max-width:410px)
{
body{ color:blue; }
}

@media(min-width:411px)and(max-width:700px)
{
body{ color:black; }
}
@media(min-width:711px)and(max-width:1100px)
{
body{ color:green; }
}
