/** {
  box-sizing: border-box;
}*/


/***************** NAV *****************/


/*.flex-container {

    display: -webkit-flex;
    display: flex;
    margin:auto;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    position: absolute;*/
}
nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


nav li {
  padding: 1rem;
  width: 24.8%;
  list-style: none;
  display: inline;
  font-weight: lighter;
  margin-left: 18rem;
}


@media (max-width: 680px)/*maintain the nav length after excending*/
{  nav ul
  {    flex-direction:column;
    }
    nav li
    {
      display: block;
      width: 80%;
      text-align: center;
      border-bottom: .1rem solid black;
       }
       /*form{
         flex-direction:column;

         display: block;
         width: 100%;
         text-align: center;
         border-bottom: .1em solid black;

         }*/
         .flex-container {

          height: 25rem;

          background-color: lightgrey;
          flex-direction:column;
          display: block;
          text-align: center;





        }


}





/**************** HEader img *****************/
@media (min-width: 200px)
{

header img {
  max-height: 6rem;
  max-width: 7rem;
}
}



/**************** img ****************/



img {
  width: 65%;
  max-width:638px;
 }





/*********************ROW INFORMATION**********************/



@media(max-width:410px)
{
body{ color:blue; }
}

@media(min-width:411px)and(max-width:700px)
{
body{ color:black; }
}
@media(min-width:711px)and(max-width:1100px)
{
body{ color:green; }
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
